h3,
h5 {
  text-align: center;
}

img {
  align-items: center;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height: 350px;
}

#calculate {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.results {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.badge {
  font-size: large;
}
